html,
body{
    height: 100%;
    width: 100%;
}
body{
    text-rendering: optimizeLegibility;
}
#header{
    height: 100%;
    max-width: 100%;
}
#about{

}

#stage{
    background: url(../images/Aboutme.JPG) center center no-repeat;
    background-size: contain;
  
}
section{
    margin: 1rem;
   
    padding: 2rem 2rem;
}
.wrapper{
    text-align: center;
  
}
.divtext{
    justify-content: center;
    text-align: center;
}
div > img{
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 0rem;
    padding-right: 0rem; 
    max-width: 100%;
    height: auto;
   
}
div h4{
    font-family: 'Antic', sans-serif;
}
#bioh4{
    
    font-family: 'Antic', sans-serif;
}
#footerul {
    column-count: 3;
}