html,
body{
    height: 100%;
    width: 100%;
}
body{
    text-rendering: optimizeLegibility;
}
#header{
    height: 100%;
    max-width: 100%;
}
#about{
font-size: 120px;
}

#stage{
    background: url(../images/Aboutme.JPG) center center no-repeat;
    background-size: cover;
  
}
.wrapper{
    text-align: center;
}
div > img{
    padding: 2rem 2rem;
    height: 300px;
    width: auto;
}