html,
body{
    height: 100%;
    width: 100%;
}
body{
    text-rendering: optimizeLegibility;
}
#header{
    height: 100%;
    max-width: 100%;
}
#about{
font-size: 120px;
}

#stage{
    background: url(../images/Aboutme.JPG) center center no-repeat;
    background-size: cover;
  
}
section{
    margin: 1rem;
    height: 500px;
    padding: 2rem 2rem;
}
.wrapper{
    text-align: center;
  
}
.divtext{
    justify-content: center;
    text-align: center;
}
div > img{
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 0rem;
    padding-right: 0rem; 
   height: 400px;
   width: auto;
   
}
#bioh4{
    
    font-family: 'Antic', sans-serif;
}