body {
    padding-top: 3rem;
    padding-bottom: 3rem;
    color: #5a5a5a;
  }
 
  nav{
    padding-bottom: 5rem;
  }
  
  
  
  img {
    width: 100%;
    height: auto;
  }

  footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100px;
    color: white;
    text-align: center;
  }
  @media screen and (min-width : 991px){
    .container-fluid {
        max-width: 960px;
    }
    
  }
 